<%- include('../partials/header') -%>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <body class="index-body">
  <div class="top">
        <div class="foo">
          <span class="letter" data-letter="P">P</span>
          <span class="letter" data-letter="S">S</span>
          <span class="letter" data-letter="E">E</span>
          <span class="letter" data-letter="U">U</span>
          <span class="letter" data-letter="D">D</span>
          <span class="letter" data-letter="O">O</span>
          <br>
          <span class="letter" data-letter="D">D</span>
          <span class="letter" data-letter="I">I</span>
          <span class="letter" data-letter="A">A</span>
          <span class="letter" data-letter="R">R</span>
          <span class="letter" data-letter="I">I</span>
          <span class="letter" data-letter="E">E</span>
          <span class="letter" data-letter="S">S</span>
        </div>
      </div>
       <% students.forEach(function(s) { %>
      <div class="container indexBod">
        <div class="row align-items-start">
          <div class="col">
            <p><span><%= s.name %></span></p>
          </div>
          <div class="col">
            <p><span><%= s.location %></span></p>
          </div>
          <div class="col">
            <p><a href="/students/<%= s._id %>"><button class="wrap">STUDENT DETAILS</button></a></p>
              <p><form action="/students/<%= s._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button class="deleteButton" type="submit">Delete Student</button>
              </form></p>
          </div>
          <% }); %>
        </div>
      </div>

  </body>
</html>
<%- include('../partials/footer') -%>
