<%- include('../partials/header') -%>

<!DOCTYPE html>
<html>
  <title>Pseudo Diaries</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <body>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(function(s) { %>
        <div id="studentBox">
          <tr class="studentDetails">
            <td><%= s.name %></td>
            <td><%= s.location %></td>
            <td><a href="/students/<%= s._id %>">Student Details</a></td>
          </tr>
        </div>
          <form action="/students/<%= s._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit" style="position: absolute; right: 800px;">Delete Student</button>
          </form>
          <% }); %>
        </tbody>
      </table>

  </body>
</html>
<%- include('../partials/footer') -%>