<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="show-page">
        <div>Name:</div>
        <div><%= student.name %></div>
        <div>Location:</div>
        <div><%= student.location %></div>
        <div>Previous Coding Experience:</div>
        <div><%= student.preCodingExp ? 'Yes' : 'Nope' %></div>
       </section>
       <!-- <a href="/diaries/new">Add New Diary</a> -->

       <a href="/diaries/">Add New Diary</a>


       <h2>Diaries</h2>
       <section id="show-page">
         <div>Date:</div>
         <div><%= diary.date %></div>
         <div>Mood:</div>
         <div><%= diary.mood %></div>
         <div>Diary Entry:</div>
         <div><%= diary.diaryEntry %></div>
       </section>

</body>
</html>