<%- include('../partials/header') -%>

<link rel=‘stylesheet’ href=‘/stylesheets/style.css’ />



  <body>

    <div class="foo">
      <span class="letter" data-letter="S">S</span>
      <span class="letter" data-letter="T">T</span>
      <span class="letter" data-letter="U">U</span>
      <span class="letter" data-letter="D">D</span>
      <span class="letter" data-letter="E">E</span>
      <span class="letter" data-letter="N">N</span>
      <span class="letter" data-letter="T">T</span>
      <br>
      <span class="letter" data-letter="D">D</span>
      <span class="letter" data-letter="E">E</span>
      <span class="letter" data-letter="T">T</span>
      <span class="letter" data-letter="A">A</span>
      <span class="letter" data-letter="I">I</span>
      <span class="letter" data-letter="L">L</span>
      <span class="letter" data-letter="S">S</span>
    </div>
<div class="showBody">
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          Name:
          <%= student.name %>
        </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
          Location:
          <%= student.location %>
          </div>
        </div>
      <div class="row align-items-end">
        <div class="col">
          Previous Coding Experience:
          <%= student.preCodingExp ? 'Yes' : 'Nope' %>
        </div>
      </div>
      </div>
      
      <br>

<div class="newDiaryBody">
    <h2>ADD NEW DIARY</h2>
    <form
      id="add-Diary-form"
      method="POST"
      action="/students/<%= student._id %>/diaries"
    >
      <label>Diary:</label>
      <textarea name="diaryEntry"></textarea>
      <br>
      <label>Date:</label>
      <input type="date" name="date" />
      <br>
      <label>Mood:</label>
      <select name="mood">
        <option value="Happy">Happy</option>
        <option value="Excited">Excited</option>
        <option value="Enthusiatic">Enthusiatic</option>
        <option value="Confident">Confident</option>
        <option value="Hopeful">Hopeful</option>
        <option value="Neutral">Neutral</option>
        <option value="Anxious">Anxious</option>
        <option value="Frustrated">Frustrated</option>
        <option value="Sad">Sad</option>
        <option value="Angry">Angry</option>
        <option value="Tired">Tired</option>
      </select>
      <br>
      <button type="submit" value="Add Diary">Add Diary</button>
    </form>
    </div>


<div class="diaryBody">
    <h1>DIARIES</h1>

    <% if(student.diaries.length) { %>
      <table>
        <thead>
          <tr >
            <th>Date</th>
            <th>Mood</th>
            <th>Dairy Entry</th>
          </tr>
        </thead>
        <tbody>
          <% student.diaries.forEach(function(d){ %>
          <tr>
            <td><%= d.date %></td>
            <td><%= d.mood %></td>
            <td><%= d.diaryEntry %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %> 
        <h5>No Diary Entries</h5>
      <% } %>
</div>


    <br />

<div class="updateBody">
    <h1>Update Student</h1>

    <form id="new-form" action="/students/<%= student._id %>?_method=PUT" method="POST">
      <label>Full name:</label><br />
      <input type="text" name="name" value="First & Last Name" /><br />
      <label>Location:</label><br />
      <input type="text" name="location" value="City, State" /><br />
      <label>Do you have previous coding experience?:</label>
      <select name="preCodingExp">
        <option value="yes">Yes</option>
        <option value="no">No</option></select
      ><br />
      <button type="submit">UPDATE STUDENT</button>
    </form>
  </div>
  
  </body>
</html>

<%- include('../partials/footer') -%>